In [214]:
import pandas as pd
import numpy as np
import os
import warnings
import PyPDF2
from datetime import datetime
import re
from io import StringIO

In [215]:
# Get the current date
current_date = datetime.now()

# Format the date
formatted_date = current_date.strftime("%d %b %Y")

# Get current hour
current_hour = datetime.now().hour

# main_folder_path = f"./033_REPORTS_05032023/{datetime.now().day}/"
#main_folder_path = f"./033_REPORTS_05032023/30/"

In [233]:
%run "./excel_functions.ipynb"
%run "./Settlement_Functions_Final.ipynb"

#main_folder_path = "./033_REPORTS_05032023/"
#main_folder_path = "./29/29/"
#main_folder_path = "./033_REPORTS_05032023/29/11AM/"
#main_folder_path = "./033_REPORTS_05032023/29/7AM/"
#main_folder_path = "./033_REPORTS_05032023/29/2PM/"
#main_folder_path = "./033_REPORTS_05032023/29/5PM/"
#main_folder_path = "./033_REPORTS_05032023/30/11AM/"
#main_folder_path = "./033_REPORTS_05032023/30/7AM/"
#main_folder_path = "./033_REPORTS_05032023/30/2PM/"
#main_folder_path = "./033_REPORTS_05032023/29/5PM/"

babcock_only_sum = 0

### Keywords in all Reports

In [217]:
list_of_reports = [
                  "incoming_commissions_details",
                  "incoming_cpay_details",
                  "incoming_reversal_details",
                  "incoming_transfers_details",
                  "incoming_payments_summary",
                  "outgoing_cardloads_details",
                  "outgoing_commissions_summary",
                  "outgoing_reversal_details",
                  "outgoing_cpay_details",
                  "outgoing_cpay_comm_summary_details",
                  "samebank_commissions_summary",
                  "outgoing_payments_summary",
                "incoming_commissions_summary",
                   "net_settlement_position"
                  ]


supplementary_list_of_reports = [
    
    "outgoing_reversal_summary",
    "incoming_cpay_summary",
    "incoming_transfer_summary",
    "outgoing_cardloads_summary",
    "incoming_reversal_summary",
    "outgoing_cpay_summary"
    
    
]

### All available files for the Time

Here, a list of all the files in the folder whose path was generated in the last step is created.

In [219]:
list_of_files = list_of_files_generator(main_folder_path)

FUNCTION CALLED: list_of_files_generator

==GENERATING THE LIST OF FILES FOR 11AM
The current time: 09:57:09
STEP 1: Listing all the files available in the 11AM folder
033_INCOMING_TRANSFERS_DETAILS_29112023_11AM.CSV
033_INCOMING_TRANSFERS_SUMMARY_29112023_11AM.PDF
033_NET_SETTLEMENT_POSITION_29112023_11AM.CSV
033_NET_SETTLEMENT_POSITION_29112023_11AM.PDF
UBA_29112023_2.pdf
FUNCTION EXECUTION ENDED: list_of_files_generator

### A mapping of the Report Keywords to Functions:

Here, a dictionary of the report Keywords as keys and the functions that transform the respective reports is created. This is so that only the files required for transformation are transformed

In [220]:
reports_keywords_dict = {
    
    "incoming_commissions_details": incoming_commission_details,
    "incoming_transfers_details": incoming_transfer_details,
    "outgoing_commissions_summary": outgoing_commissions_summary,
    "outgoing_payments_summary": outgoing_payments_summary,
    "samebank_commissions_summary": samebank_commissions_summary,
    "incoming_commissions_summary": incoming_commissions_summary,
    "incoming_reversal_details": incoming_reversal_details,
    "outgoing_cpay_comm_summary_details": outgoing_cpay_comm_summary_details,
    "outgoing_cpay_details": outgoing_cpay_details,
    "outgoing_reversal_details": outgoing_reversal_details,
    "outgoing_cardloads_details": outgoing_cardloads_details,
    "incoming_payments_summary": incoming_payments_summary,
    "incoming_cpay_details": incoming_cpay_details,
}

supplementary_reports_keywords_dict = {
"outgoing_reversal_summary": outgoing_reversal_summary,
    "incoming_cpay_summary": incoming_cpay_summary,
    "incoming_transfer_summary": incoming_transfer_summary,
    "outgoing_cardloads_summary": outgoing_cardloads_summary,
    "incoming_reversal_summary": incoming_reversal_summary,
    "outgoing_cpay_summary": outgoing_cpay_summary
        }
# supplementary_reports_keywords_replacements= {
#     "outgoing_cpay_details": "outgoing_cpay_summary",
#     "incoming_reversal_details": "incoming_reversal_summary",
#     "outgoing_cardloads_details": "outgoing_cardloads_summary",
#     "incoming_transfers_details": "incoming_transfer_summary",
#     "incoming_cpay_details" : "incoming_cpay_summary",
#     "outgoing_reversal_details": "outgoing_reversal_summary"
    
    
# }

### Create Actual report to Function mapping:

This builds on the previous step and creates a mapping of the actual csv file names and their respective transformation functions.

In [222]:
workflow_dict = file_to_function_mapping(list_of_files)
print(f"\nThe files to be processed and their processing functions are given below:\n{workflow_dict}")

FUNCTION CALLED: file_to_function_mapping
Report found
Report name: 033_INCOMING_TRANSFERS_DETAILS_29112023_11AM.CSV
FUNCTION EXECUTION ENDED: file_to_function_mapping

The files to be processed and their processing functions are given below:
{'033_INCOMING_TRANSFERS_DETAILS_29112023_11AM.CSV': <function function_name_decorator.<locals>.wrapper at 0x0000021455C38D60>}

### Perform transformations and compile:

Here, the transformations are performed based on the mapping in the "workflow_dict" dictionary created above. After all transformations are done, the results are compiled in an output DataFrame called "narrations_df"

In [224]:
narrations_df = generate_narration_batch_compilation(workflow_dict, main_folder_path)

print("The final Narration for this set of files is:\n")
narrations_df

FUNCTION CALLED: generate_narration_batch_compilation

==GENERATING COMPILED NARRATION FOR 11AM
STEP 1: Initialize the Narration list that holds all the Narration DataFrames.
Also getting all values in Net Settlement Position PDF
==COLLECTING ALL THE VALUES IN THE NET SETTLEMENT POSITION PDF
STEP 1: Getting the filename of the Net Settlement Position
FUNCTION CALLED: _get_net_settlement_path

==GETTING THE PATH FOR NET SETTLEMENT PDF FILE
FUNCTION CALLED: _convert_hour_to_am_pm
FUNCTION EXECUTION ENDED: _convert_hour_to_am_pm
STEP 1: Looping through the files in the directory (List of files) in the 11AM directory
FUNCTION EXECUTION ENDED: _get_net_settlement_path
STEP 2: Creating the full path for the Net Settlement Position
STEP 3: Reading the Net Settlement PDF file
FUNCTION CALLED: read_pdf
./033_REPORTS_05032023/29/11AM/033_NET_SETTLEMENT_POSITION_29112023_11AM.PDF
FUNCTION EXECUTION ENDED: read_pdf
STEP 4: Creating a list of values in the Net Settlement Position PDF file
CONVERTING THE STRING Amount TO A FLOAT NUMBER
CONVERTING THE STRING Incoming TO A FLOAT NUMBER
CONVERTING THE STRING Count TO A FLOAT NUMBER
CONVERTING THE STRING Outgoing TO A FLOAT NUMBER
CONVERTING THE STRING Count TO A FLOAT NUMBER
CONVERTING THE STRING Amount TO A FLOAT NUMBER
CONVERTING THE STRING Title: TO A FLOAT NUMBER
CONVERTING THE STRING Settlement TO A FLOAT NUMBER
CONVERTING THE STRING Batch TO A FLOAT NUMBER
CONVERTING THE STRING Id: TO A FLOAT NUMBER
CONVERTING THE STRING 23K3A35032796_B TO A FLOAT NUMBER
CONVERTING THE STRING Settlement TO A FLOAT NUMBER
CONVERTING THE STRING Period: TO A FLOAT NUMBER
CONVERTING THE STRING 11/29/2023 TO A FLOAT NUMBER
CONVERTING THE STRING 00:00:00 TO A FLOAT NUMBER
CONVERTING THE STRING To TO A FLOAT NUMBER
CONVERTING THE STRING 11/29/2023 TO A FLOAT NUMBER
CONVERTING THE STRING 23:59:59 TO A FLOAT NUMBER
CONVERTING THE STRING 'NET TO A FLOAT NUMBER
CONVERTING THE STRING SETTLEMENT TO A FLOAT NUMBER
CONVERTING THE STRING POSITION TO A FLOAT NUMBER
CONVERTING THE STRING FOR TO A FLOAT NUMBER
CONVERTING THE STRING UNITED TO A FLOAT NUMBER
CONVERTING THE STRING BANK TO A FLOAT NUMBER
CONVERTING THE STRING FOR TO A FLOAT NUMBER
CONVERTING THE STRING AFRICA TO A FLOAT NUMBER
CONVERTING THE STRING Net TO A FLOAT NUMBER
CONVERTING THE STRING Settlement TO A FLOAT NUMBER
CONVERTING THE STRING Position TO A FLOAT NUMBER
CONVERTING THE STRING Funds TO A FLOAT NUMBER
CONVERTING THE STRING Transfer TO A FLOAT NUMBER
CONVERTING THE STRING 33,883 TO A FLOAT NUMBER
CONVERTING THE STRING 571,217,157.98 TO A FLOAT NUMBER
CONVERTING THE STRING 0.00 TO A FLOAT NUMBER
CONVERTING THE STRING 571,217,157.98 TO A FLOAT NUMBER
CONVERTING THE STRING 571,217,157.98 TO A FLOAT NUMBER
CONVERTING THE STRING 0.00 TO A FLOAT NUMBER
CONVERTING THE STRING 571,217,157.98 TO A FLOAT NUMBER
CONVERTING THE STRING 11/29/2023 TO A FLOAT NUMBER
CONVERTING THE STRING Page TO A FLOAT NUMBER
CONVERTING THE STRING 1 TO A FLOAT NUMBER
CONVERTING THE STRING of TO A FLOAT NUMBER
CONVERTING THE STRING 1 TO A FLOAT NUMBER
CONVERTING THE STRING Parties TO A FLOAT NUMBER
CONVERTING THE STRING shall TO A FLOAT NUMBER
CONVERTING THE STRING ensure TO A FLOAT NUMBER
CONVERTING THE STRING that TO A FLOAT NUMBER
CONVERTING THE STRING on TO A FLOAT NUMBER
CONVERTING THE STRING receipt TO A FLOAT NUMBER
CONVERTING THE STRING of TO A FLOAT NUMBER
CONVERTING THE STRING this TO A FLOAT NUMBER
CONVERTING THE STRING report, TO A FLOAT NUMBER
CONVERTING THE STRING all TO A FLOAT NUMBER
CONVERTING THE STRING disputed TO A FLOAT NUMBER
CONVERTING THE STRING transactions/claims TO A FLOAT NUMBER
CONVERTING THE STRING must TO A FLOAT NUMBER
CONVERTING THE STRING be TO A FLOAT NUMBER
CONVERTING THE STRING reported, TO A FLOAT NUMBER
CONVERTING THE STRING investigated, TO A FLOAT NUMBER
CONVERTING THE STRING and TO A FLOAT NUMBER
CONVERTING THE STRING necessary TO A FLOAT NUMBER
CONVERTING THE STRING adjustment(s) TO A FLOAT NUMBER
CONVERTING THE STRING applied TO A FLOAT NUMBER
CONVERTING THE STRING within TO A FLOAT NUMBER
CONVERTING THE STRING a TO A FLOAT NUMBER
CONVERTING THE STRING 72 TO A FLOAT NUMBER
CONVERTING THE STRING hour TO A FLOAT NUMBER
CONVERTING THE STRING period: TO A FLOAT NUMBER
CONVERTING THE STRING eTranzact TO A FLOAT NUMBER
CONVERTING THE STRING will TO A FLOAT NUMBER
CONVERTING THE STRING not TO A FLOAT NUMBER
CONVERTING THE STRING be TO A FLOAT NUMBER
CONVERTING THE STRING held TO A FLOAT NUMBER
CONVERTING THE STRING liable, TO A FLOAT NUMBER
CONVERTING THE STRING nor TO A FLOAT NUMBER
CONVERTING THE STRING have TO A FLOAT NUMBER
CONVERTING THE STRING obligation TO A FLOAT NUMBER
CONVERTING THE STRING to TO A FLOAT NUMBER
CONVERTING THE STRING investigate TO A FLOAT NUMBER
CONVERTING THE STRING or TO A FLOAT NUMBER
CONVERTING THE STRING make TO A FLOAT NUMBER
CONVERTING THE STRING any TO A FLOAT NUMBER
CONVERTING THE STRING adjustment(s) TO A FLOAT NUMBER
CONVERTING THE STRING after TO A FLOAT NUMBER
CONVERTING THE STRING the TO A FLOAT NUMBER
CONVERTING THE STRING expiration TO A FLOAT NUMBER
CONVERTING THE STRING this TO A FLOAT NUMBER
CONVERTING THE STRING period TO A FLOAT NUMBER
STEP 5: Returning the list of values extracted.

STEP 2: Looping through each Identified Report stored in the workflow_dict


BEGINNING TRANSFORMATION FOR 033_INCOMING_TRANSFERS_DETAILS_29112023_11AM.CSV
    STEP 2.1.0: Creating the full path for the file. It will include 11AM/ in front of the filename
./033_REPORTS_05032023/29/11AM/033_INCOMING_TRANSFERS_DETAILS_29112023_11AM.CSV
    STEP 2.2.0: Getting the function responsible for cleaning the filename 033_INCOMING_TRANSFERS_DETAILS_29112023_11AM.CSV
    STEP 2.3.0: Running the Narration function on the file
FUNCTION CALLED: incoming_transfer_details

==STEPS FOR INCOMING TRANSFER DETAILS==
STEP 1: Reading in the file
FUNCTION CALLED: read_report_file
==READING IN THE FILE ./033_REPORTS_05032023/29/11AM/033_INCOMING_TRANSFERS_DETAILS_29112023_11AM.CSV
Format: CSV
STEP 1: Checking if the file has a header or not
STEP 2: File has no header
FUNCTION EXECUTION ENDED: read_report_file
STEP 2: Adding column names to the data
FUNCTION CALLED: add_letter_columns_to_df
FUNCTION CALLED: _generate_alphabet_mapping
FUNCTION EXECUTION ENDED: _generate_alphabet_mapping
FUNCTION EXECUTION ENDED: add_letter_columns_to_df
STEP 3: Summing up the values of column H
STEP 4: Extracting the Account ID from column G
STEP 5: Create a dictionary for the Account extracted and Amount calculated
STEP 6: Convert the dictionary into a DataFrame
STEP 7: Including the NARRATION in the DataFrame
FUNCTION EXECUTION ENDED: incoming_transfer_details

REPORT FILE NAME : TOTAL AMOUNT CALCULATED
033_INCOMING_TRANSFERS_DETAILS_29112023_11AM.CSV: 571217157.98
STEP 3: Checking if Narration total is on the Settlement Position created earlier
033_INCOMING_TRANSFERS_DETAILS_29112023_11AM.CSV settlement confirmed from Net Settlement Postion PDF
STEP 4.0: Appending the DataFrame generated by the function to the Narration list created earlier
          ACCOUNT        AMOUNT                          NARRATION
0  NGN09991614093  5.712172e+08  Incoming Transfers 11 Dec 2023 S1


Compiling all the DataFrames to 1 compiled narration
Files worked on are: ['033_INCOMING_TRANSFERS_DETAILS_29112023_11AM.CSV']

Number of files worked on: 1.
Number of Dataframes: 1
FUNCTION EXECUTION ENDED: generate_narration_batch_compilation
The final Narration for this set of files is:

          ACCOUNT        AMOUNT                          NARRATION
0  NGN09991614093  5.712172e+08  Incoming Transfers 11 Dec 2023 S1

### Comparing Net Settlement value with Narration calculations:

Here, the value in the Net Settlement PDF file is compared with the value from our Narration calculations in the "narration_df" DataFrame

In [228]:
balance = compare_total_settlement_total_narration(narrations_df, main_folder_path)

FUNCTION CALLED: compare_total_settlement_total_narration

==COMPARING THE TOTAL SETTLEMENT POSITION WITH THE COMPILED NARRATION
STEP 1: Summing the complete narration values under the AMOUNT column
AMOUNT = 571217157.98

STEP 2: Getting the Path for the Net Settlement Position
FUNCTION CALLED: _get_net_settlement_path

==GETTING THE PATH FOR NET SETTLEMENT PDF FILE
FUNCTION CALLED: _convert_hour_to_am_pm
FUNCTION EXECUTION ENDED: _convert_hour_to_am_pm
STEP 1: Looping through the files in the directory (List of files) in the 11AM directory
FUNCTION EXECUTION ENDED: _get_net_settlement_path
Net Settlement Position Path: ./033_REPORTS_05032023/29/11AM/033_NET_SETTLEMENT_POSITION_29112023_11AM.PDF


STEP 3: Extracting the settlement position value from the NET_SETTLEMENT pdf file
FUNCTION CALLED: _extract_settlement_position
==EXTRACTING THE SETTLEMENT POSITION
FUNCTION CALLED: read_pdf
./033_REPORTS_05032023/29/11AM/033_NET_SETTLEMENT_POSITION_29112023_11AM.PDF
FUNCTION EXECUTION ENDED: read_pdf
STEP 1: Extracting the necessary text from the pdf file
STEP 2: Converting the extracted text into an IO object
STEP 3: Read the data as a DataFrame
STEP 4: Extracting the Total Incoming and Outgoing Amounts.
CONVERTING THE STRING 571,217,157.98 TO A FLOAT NUMBER
CONVERTING THE STRING 0.00 TO A FLOAT NUMBER

Total Incoming Amount in Net Settlement PDF = 571217157.98
Total Outgoing Amount in Net Settlement PDF = 0.0

STEP 5: Extracting Settlement Position
FUNCTION CALLED: convert_string_numbers
Number successfully converted. New format: 571217157.98
FUNCTION EXECUTION ENDED: convert_string_numbers
STEP 6: Checking if there was an issue with the values extracted in Steps 3 and 4
STEP 7: Calculating the Settlement Position from the Total Incoming and Outgoing Amounts extracted
571217157.98 - 0.0
Calculated Settlement Position = 571217157.98
Actual Settlement Position = 571217157.98
STEP 8: Checking if this calculated Settlement Position is equal to the extracted Settlement Position
STEP 9: Net Settlement Position Confirmed! Returning the value
FUNCTION EXECUTION ENDED: _extract_settlement_position


Back to Comparing Net Settlement Value with the Calculated Amount
Net settlement value from PDF = 571217157.98
Total Narration value from calculation = 571217157.98
STEP 4: Calculating the Balance. This must be ZERO
571217157.98 - 571217157.98
Check complete. Balance is correct
Balance = 0.0
FUNCTION EXECUTION ENDED: compare_total_settlement_total_narration

### Raising Entries

In [229]:
if balance == 0.0:
    entry_df = process_of_raising_entries(narrations_df)
    #write to db

elif balance == "NA":
    warnings.warn(f"There is NO Balance because there was no compiled report.\nCheck the execution trail for prior warnings to trace the problem")
    entry_df = "NA"
else:
    warnings.warn(f"Balance is NOT ZERORIZED.\nBalance = {balance}")
    entry_df = "INCORRECT"

==RAISING ENTRIES==
STEP 1: Make a copy of the DataFrame
STEP 2: Sort all the values by the AMOUNT column
STEP 3: Limit the NARRATION column width to 30 characters. All other columns are separated by 10 characters
STEP 4: Add an extra column to the end of the DataFrame because we are about to insert an empty column
FUNCTION CALLED: _create_inner_columns
FUNCTION CALLED: _generate_excel_columns
FUNCTION EXECUTION ENDED: _generate_excel_columns
FUNCTION CALLED: _generate_excel_columns
FUNCTION EXECUTION ENDED: _generate_excel_columns
FUNCTION EXECUTION ENDED: _create_inner_columns
STEP 5: Placing the Transaction ID (i.e. 'C' or 'D') in a column 2 columns away from 'NARRATION'
STEP 6: Reorder the data by ACCOUNT
STEP 7: Selecting a portion of the Data where the ACCOUNT starts with 'PAL0999'
There is no PAL account. Entries complete!
STEP 8: Deleting column D
STEP 9: Renaming column E to TRANSACTION TYPE

Entries complete!

In [230]:
entry_df

,ACCOUNT,AMOUNT,NARRATION,TRANSACTION TYPE
0,NGN09991614093,5.712172e+08,Incoming Transfers 11 Dec 2023,C